# Cleaning WHO crude suicide rates data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Define the base path and the file name
base_path = '/Users/marika/World Health Organization Analysis'
file_name = 'WHO suicide rates age stand per 100K.csv'

In [3]:
# Join the base path and file name to get the full path
full_path = os.path.join('/Users/marika/World Health Organization Analysis', 'Raw Data', 'WHO suicide rates age stand per 100K.csv')

In [4]:
# Read the CSV file using the full path
df_suicide_rates_all = pd.read_csv(full_path, index_col=False)

In [5]:
# Check the first few rows of the DataFrame to ensure it loaded correctly
df_suicide_rates_all.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,0.00,NaN,0.00,0.0 [0.0-0.0],NaN,NaN,EN,2021-02-09T08:00:00.000Z
1,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,BRB,Barbados,Year,2019,...,NaN,NaN,0.11,NaN,0.22,0.2 [0.1-0.2],NaN,NaN,EN,2021-02-09T08:00:00.000Z
2,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,BRB,Barbados,Year,2019,...,NaN,NaN,0.22,NaN,0.42,0.3 [0.2-0.4],NaN,NaN,EN,2021-02-09T08:00:00.000Z
3,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,0.22,NaN,0.45,0.3 [0.2-0.5],NaN,NaN,EN,2021-02-09T08:00:00.000Z
4,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,BRB,Barbados,Year,2019,...,NaN,NaN,0.34,NaN,0.65,0.5 [0.3-0.7],NaN,NaN,EN,2021-02-09T08:00:00.000Z

In [6]:
# Finding missing values 
df_suicide_rates_all.isnull().sum()

IndicatorCode                     0
Indicator                         0
ValueType                         0
ParentLocationCode                0
ParentLocation                    0
Location type                     0
SpatialDimValueCode               0
Location                          0
Period type                       0
Period                            0
IsLatestYear                      0
Dim1 type                         0
Dim1                              0
Dim1ValueCode                     0
Dim2 type                     10980
Dim2                          10980
Dim2ValueCode                 10980
Dim3 type                     10980
Dim3                          10980
Dim3ValueCode                 10980
DataSourceDimValueCode        10980
DataSource                    10980
FactValueNumericPrefix        10980
FactValueNumeric                  0
FactValueUoM                  10980
FactValueNumericLowPrefix     10980
FactValueNumericLow               0
FactValueNumericHighPrefix    10980
FactValueNumericHigh              0
Value                             0
FactValueTranslationID        10980
FactComments                  10980
Language                          0
DateModified                      0
dtype: int64

In [7]:
# Check for mixed types
for col in df_suicide_rates_all.columns.tolist():
    weird = (df_suicide_rates_all[col].map(type) != type(df_suicide_rates_all[col].iloc[0]))
    if weird.any():
        print(f"Column '{col}' has mixed types.")

Column 'Period' has mixed types.
Column 'IsLatestYear' has mixed types.
Column 'Dim2 type' has mixed types.
Column 'Dim2' has mixed types.
Column 'Dim2ValueCode' has mixed types.
Column 'Dim3 type' has mixed types.
Column 'Dim3' has mixed types.
Column 'Dim3ValueCode' has mixed types.
Column 'DataSourceDimValueCode' has mixed types.
Column 'DataSource' has mixed types.
Column 'FactValueNumericPrefix' has mixed types.
Column 'FactValueNumeric' has mixed types.
Column 'FactValueUoM' has mixed types.
Column 'FactValueNumericLowPrefix' has mixed types.
Column 'FactValueNumericLow' has mixed types.
Column 'FactValueNumericHighPrefix' has mixed types.
Column 'FactValueNumericHigh' has mixed types.
Column 'FactValueTranslationID' has mixed types.
Column 'FactComments' has mixed types.

In [11]:
# Dropping unnecessary columns
df_suicide_rates_all = df_suicide_rates_all.drop(
    [
        'Dim2', 'Dim2ValueCode', 'ParentLocationCode', 'Dim3', 'Dim3ValueCode',
        'DataSourceDimValueCode', 'FactValueTranslationID', 'Dim1 type', 'Dim1ValueCode',
        'DataSource', 'FactValueNumericPrefix', 'DateModified', 'Language', 'FactComments',
        'FactValueNumericHighPrefix', 'FactValueNumericLowPrefix', 'FactValueUoM',
        'IsLatestYear', 'Period type', 'SpatialDimValueCode', 'Location type', 'ValueType',
        'Indicator', 'IndicatorCode', 'ParentLocation'],axis=1)

In [12]:
# Checking columns are dropped
df_suicide_rates_all.head()

,Location,Period,Dim1,Dim2 type,Dim3 type,FactValueNumeric,FactValueNumericLow,FactValueNumericHigh,Value
0,Antigua and Barbuda,2019,Male,NaN,NaN,0.00,0.00,0.00,0.0 [0.0-0.0]
1,Barbados,2019,Female,NaN,NaN,0.16,0.11,0.22,0.2 [0.1-0.2]
2,Barbados,2019,Both sexes,NaN,NaN,0.31,0.22,0.42,0.3 [0.2-0.4]
3,Antigua and Barbuda,2019,Both sexes,NaN,NaN,0.32,0.22,0.45,0.3 [0.2-0.5]
4,Barbados,2019,Male,NaN,NaN,0.49,0.34,0.65,0.5 [0.3-0.7]

In [13]:
# Renaming multiple columns
df_suicide_rates_all = df_suicide_rates_all.rename(columns={'Location': 'Country', 'Dim1': 'Sex', 'Period': 'Year'})

In [14]:
# Checking column titles are changed
df_suicide_rates_all.head()

,Country,Year,Sex,Dim2 type,Dim3 type,FactValueNumeric,FactValueNumericLow,FactValueNumericHigh,Value
0,Antigua and Barbuda,2019,Male,NaN,NaN,0.00,0.00,0.00,0.0 [0.0-0.0]
1,Barbados,2019,Female,NaN,NaN,0.16,0.11,0.22,0.2 [0.1-0.2]
2,Barbados,2019,Both sexes,NaN,NaN,0.31,0.22,0.42,0.3 [0.2-0.4]
3,Antigua and Barbuda,2019,Both sexes,NaN,NaN,0.32,0.22,0.45,0.3 [0.2-0.5]
4,Barbados,2019,Male,NaN,NaN,0.49,0.34,0.65,0.5 [0.3-0.7]

In [15]:
# Dropping two more columns
df_suicide_rates_all = df_suicide_rates_all.drop(['Dim2 type', 'Dim3 type'],axis=1)

In [16]:
# Checking columns
df_suicide_rates_all.head()

,Country,Year,Sex,FactValueNumeric,FactValueNumericLow,FactValueNumericHigh,Value
0,Antigua and Barbuda,2019,Male,0.00,0.00,0.00,0.0 [0.0-0.0]
1,Barbados,2019,Female,0.16,0.11,0.22,0.2 [0.1-0.2]
2,Barbados,2019,Both sexes,0.31,0.22,0.42,0.3 [0.2-0.4]
3,Antigua and Barbuda,2019,Both sexes,0.32,0.22,0.45,0.3 [0.2-0.5]
4,Barbados,2019,Male,0.49,0.34,0.65,0.5 [0.3-0.7]

In [23]:
import os
import pandas as pd

# Define the path to the directory containing the CSV file
path = '/Users/marika/World Health Organization Analysis'

# Define the path where you want to export the CSV file
export_path = os.path.join(path, 'Exported Data')

# Create the directory if it doesn't exist
os.makedirs(export_path, exist_ok=True)

# Exporting "df_suicide_rates_all_clean" dataframe
output_file = os.path.join(export_path, 'df_suicide_rates_all_clean.csv')
df_suicide_rates_all.to_csv(output_file, index=False)